#!/usr/bin/make -f

# Enable verbose output for debugging
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	make

override_dh_auto_clean:
	make clean

override_dh_auto_install:
	dh_auto_install
	dh_install hello-isar usr/bin/

